body {
  font-family: sans-serif;
}

table {
  border: 1px solid gray;
  border-collapse: collapse;
}

table tr td {
  border: 1px dotted lightgray;
  height: 32px;
  text-align: center;
  width: 32px;
}

table tr td button {
  height: 100%;
  width: 100%;
}

